.content-wrapper {
    margin-left: 240px;
    top: 20px;
    margin-top: 70px;
    transition: .5s;
}
.content-wrapper.hide {
    margin-left: 0;
}

.dashboard-top-sec {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}